@import url('https://fonts.googleapis.com/css?family=Lakki+Reddy');
@import url('https://fonts.googleapis.com/css?family=Lobster');

$headerColor: #446ccc;

$headerFont: 'Lakki Reddy', cursive;
$h3FontSize: 2.5em;
$messageFont:'Lobster', cursive;
$messageFontSize: 2em;

$circleWidth: 12.9%;
$circleRadius: 100%;
$sizeOfBombBtn: 13%;
$playerIconSize: 20px;
$iconSize: 35px;

/**************
 DIALOG BOX STYLE
***************/
// #dialog-message {
//   height: 300px;
//   border: 3px solid black;
//   background-color: white;
// }

// .ui-dialog-titlebar {
//   height: 50px;
// }


/**************
 BASIC STYLE
***************/

body  {
  margin: 0;
}

h3  {
  display: inline-block;
  margin-bottom: 5%;
  font-family: $headerFont;
  font-size: $h3FontSize;
  color: white;
  // line-height: .9;
}

.mainHeader {
  margin-top: -15px;
  margin-bottom: -30px;
  text-align: center;
  background-color: $headerColor;
}

/*******************
 PLAYER BOARD STYLE
*******************/
.playerBoard  {
  background-color: $headerColor;
}

.player1,
.player2  {
  display: inline-block;
  margin-left: 30%;
  font-family: $messageFont;
  color: white;
}

.playerRed,
.playerBlue {
  margin-top: 5%;
  width: $playerIconSize;
  height: $playerIconSize;
}

h4  {
  display: inline-block;
  line-height: .7;
}

.p1bomb,
.p2bomb  {
  margin-top: 5%;
  display: inline-block;
  height: $sizeOfBombBtn;
  width: $sizeOfBombBtn;
  vertical-align: top;
}

.activated  {
  margin: 0;
  color: #f75;
}

/**************
 MESSAGE STYLE
***************/
.mainMessage  {
  padding-top: 10px;
  text-align: center;
}

.icon {
  display: inline-block;
  clear: both;
}

.message {
  display: inline-block;
  font-size: $messageFontSize;
  font-family: $messageFont;
  color: #2a447f;
  vertical-align: top;
  clear: both;
}

.red,
.blue,
.playerRed,
.playerBlue {
  display: inline-block;
  width: $iconSize;
  height: $iconSize;
  vertical-align: top;
  border-radius: $circleRadius;
}

.red,
.playerRed {
  background-color: red;
}

.blue,
.playerBlue {
  background-color: blue;
}

.bombMsg  {
  display: inline-block;
  width: 40%;
}

p {
  margin-top: 0;
  font-size: .7em;
  color: #b21900;
}

.bomb {
  height: 30%;
  width: 30%;
}

/**************
 BOARD STYLE
***************/
.board  {
  margin: 0 auto;
  min-width: 300px;
  max-width: 600px;
  background-image: url(../assets/BoardBg.png);
  background-size: cover;
}

.board::after  {
  content: "";
  display: block;
  padding-bottom: 100%;
}
/**************
 CHIP STYLE
***************/
.chip {
  float: left;
  width: $circleWidth;
  margin-top: 3.2%;
  border-radius: $circleRadius;
  border: 1.5px solid #aac3ff;
  background-color: #446ccc;
}

.chip::after,
.square::after  {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.chip:nth-of-type(7n+1),
.square:nth-of-type(7n+1) {
  margin-left: 3.5%;
}

.hoverBomb  {
  display: inline-block;
  width: $iconSize;
  height: $iconSize;
  vertical-align: top;
  border-radius: $circleRadius;
  background-image: url(../assets/black-bomb-icon.png);
  background-size: 115%;
  vertical-align: bottom;
}
/**************
 SQUARE STYLE
***************/

.square {
  float: left;
  margin-top: 0;
  width: $circleWidth;
  background-color: white;
  border: 1px solid #335199;
  border-radius: $circleRadius;
  vertical-align: top;
}

.square:nth-of-type(-n+7) {
  margin-top: 1.2%;
}
/**************
 MEDIA QUERIES
***************/

@media (min-width: 480px) and (max-width: 767px)  {

  h3  {
    margin-bottom: 2%;
    font-size: 3em;
  }

  /**************
   MESSAGE STYLE
  ***************/
  .message  {
    font-size: 2.5em;
  }

  .red,
  .blue {
    height: 40px;
    width: 40px;
  }

  p   {
    margin-bottom: 0;
    font-size: .9em;
  }

  .bombMsg img{
    height: 30%;
    width: 30%;
  }
  /*******************
   PLAYER BOARD STYLE
  *******************/
  .player1,
  .player2  {
    margin-left: 32%;
  }

  h4  {
    font-size: 1.2em;
  }

  .p1bomb,
  .p2bomb {
    margin-top: 1%;
    height: 18%;
    width: 18%;
  }

}

@media (min-width: 768px) and (max-width: 1023px)  {
  h3  {
    font-size: 3em;
    line-height: 1;
  }

  .mainHeader {
    margin-top: 0;
    margin-bottom: 1px;
  }

  .info {
    margin-left:5%;
  }
  /*******************
   PLAYER BOARD STYLE
  *******************/
  .playerBoard  {
    float: left;
    margin-left: -4%;
    width: 40%;
    background-color: white;
  }

  .player1,
  .player2  {
    display: block;
    margin-left: 7%;
  }

  .playerRed,
  .playerBlue {
    margin-top: 5%;
  }

  h4  {
    font-size: 1.2em;
    color: #2a447f;
  }

  .p1bomb,
  .p2bomb {
    margin-top: 2%;
    height: 22%;
    width: 22%;
  }
  /**************
   MESSAGE STYLE
  ***************/
  .mainMessage  {
    float:left;
    margin-top: 4%;
    margin-left: -8%;
    width: 70%;
  }

  .message  {
    width: 37%;
    font-size: 3em;
    text-align: left;
  }

  .red,
  .blue {
    margin-left: 1.5%;
    height: 50px;
    width: 50px;
  }

  p   {
    margin-top: -10%;
    font-size: 1em;
  }

  .bombMsg  {
    // margin-left: 5%;
    margin-right: -5%;
  }

  .bombMsg img{
    height: 40%;
    width: 40%;
  }

  /**************
   BOARD STYLE
  ***************/
  .board  {
    clear: both;
  }


}

@media (min-width: 1024px) {
  h3  {
    font-size: 3.5em;
    line-height: .6;
  }

  .mainHeader {
    margin-top: 0;
    margin-bottom: 0;
  }

  .info {
    float: left;
    margin-left: 5%;
    width: 38%;
  }
  /*******************
   PLAYER BOARD STYLE
  *******************/
  .playerBoard  {
    width: 100%;
    background-color: white;
  }

  .player1,
  .player2  {
    display: block;
    width: 80%;
    margin-left: 23%;
  }

  h4  {
    font-size: 1.5em;
    color: #2a447f;
  }

  .p1bomb,
  .p2bomb  {
    margin-top: 3%;
    height: 20%;
    width: 20%;
  }

  /**************
   MESSAGE STYLE
  ***************/
  .mainMessage  {
    padding-top: 30px;
    border-top: 5px solid #58f;
  }

  .message  {
    font-size: 3em;
  }

  .bombMsg  {
      display: block;
      width: 100%;
      text-align: center;
  }

  .red,
  .blue {
    height: 50px;
    width: 50px;
  }

  .playerRed,
  .playerBlue {
    margin-top: 5%;
    width: 40px;
    height: 40px;
  }

  p   {
    padding-top: 20px;
    font-size: 1em;
  }
  /**************
   BOARD STYLE
  ***************/
  .board  {
    float: left;
    width: 50%;
  }
}
